<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: meta('Dashboard')"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="fragments/template :: header"></div>
    <div th:replace="fragments/template :: sidebar('profile')"></div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content">
        	<div class="callout callout-danger" th:if="${MyProfileFormDTO.errorMsg} != null">
	            <p>[[${MyProfileFormDTO.errorMsg}]]</p>
	        </div>
	        <div class="callout callout-success" th:if="${MyProfileFormDTO.successMsg} != null">
	            <p>[[${MyProfileFormDTO.successMsg}]]</p>
	        </div>
	        <form class="form-horizontal" action="#" th:method="put" th:action="@{/profile/update}" th:object="${MyProfileFormDTO.systemUser}">
		        <div class="box box-primary">
		           	<div class="box-header with-border">
		               	<h3 class="box-title">My Profile</h3>
		            </div>
					<input type="hidden" th:field="*{id}">
					<input type="hidden" th:field="*{status}">
					<input type="hidden" th:field="*{password}">
	              	<div class="box-body">
	             	 	<div class="form-group">
							<label for="username" class="col-sm-3 control-label">User Name</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="fullname" th:field="*{username}" required>
							</div>
						</div>
						<div class="form-group">
							<label for="fullname" class="col-sm-3 control-label">Full Name</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="fullname" th:field="*{fullname}" required>
							</div>
						</div>
						<div class="box-footer">
					        <button type="button" class="btn btn-default">Cancel</button>
					        <button type="submit" class="btn btn-info pull-right">Save</button>
					    </div>
					</div>
				</div>
			</form>
        </section>
    </div>
    <div th:replace="fragments/template :: footer"></div>
</div>
<div th:include="fragments/template :: javascript" th:remove="tag"></div>
</body>
</html>