<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:remove="all">Your New Password for HomeTeamNS Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>


    <p>Dear <span th:text="${dear}"></span>,</p>

    <p>Warmest greetings from HomeTeamNS.</p>

    <br>Please be informed that your password has been successfully reset.<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;User Name: <span th:text="${userName}"></span><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;Password: <span th:text="${password}"></span><br/>
    </p>
        <br/><br/>

    <!-- TODO :- Link to Login -->
    <p>Please click <a href="www.google.com">HERE</a> to log in for full access to your online account. You will be prompted to change your password at first logon. </p>

    <br/>

    <p>Thank you and we look forward to be of service to you. For your information, our office hours are from Monday to Friday, 8.30am to 6.00pm.</p>

    <br/>
    <p>Your sincerely, <br/>
        HomeTeamNS Administrator.
    </p>

    <br/>

</div>


</body>
</html>