<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head th:replace="fragments/template :: meta('Login')"></head>
	<body class="hold-transition login-page">
		<div class="login-box">
	  		<div class="login-logo">
				<a href="https://github.com/VincentGeng/" class="logo">
					<img th:src="@{/dist/img/spring-boot.png}" src="../../dist/img/spring-boot.png" style="width:200px" alt="SpringBootDemo" class="navbar-logo">
				</a>
	  		</div>
	  		<!-- /.login-logo -->
	  		<div class="login-box-body">
	  			<div class="callout callout-danger" th:if="${errorMsg} != null">
	         		<p>[[${errorMsg}]]</p>
	    		</div>
	    		<div style="font-size: 20px; margin-bottom: 15px; font-weight: bold" th:if="${errorMsg} == null">Find your Account</div>
	    		<div th:with="condition=${errorMsg} == null" th:remove="tag">
		    		<p class="login-box-msg" th:if="${condition}">Please enter email address</p>
		    		<p class="login-box-msg" th:unless="${condition}">Please try searching for your email again.</p>
	    		</div>
	    		<form action="#" th:action="@{/begin_reset_password}" method="post">
	      			<div class="form-group has-feedback">
	        			<input type="email" name="email" class="form-control" placeholder="Email">
	        			<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	      			</div>
	      			<div class="row">
	        			<div class="col-xs-8">
		          			<a href="login.html" th:href="@{/login}" class="text-center">Go Back</a>
	        			</div>
	        			<!-- /.col -->
	        			<div class="col-xs-4">
	          				<button type="submit" class="btn btn-primary btn-block btn-flat">Search</button>
	        			</div>
	        			<!-- /.col -->
	      			</div>
	    		</form>
	  		</div>
	  		<!-- /.login-box-body -->
	  		<div th:replace="fragments/template :: form-footer"></div>
		</div>
		<!-- /.login-box -->
	
		<!-- jQuery 2.2.3 -->
		<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
		<!-- Bootstrap 3.3.6 -->
		<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>
