<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head th:replace="fragments/template :: meta('Login')"></head>
	<body class="hold-transition login-page">
		<div class="login-box">
	  		<div class="login-logo">
				<a href="https://github.com/VincentGeng/" class="logo">
					<img th:src="@{/dist/img/spring-boot.png}" src="../../dist/img/spring-boot.png" style="width:200px" alt="SpringBootDemo" class="navbar-logo">
				</a>
	  		</div>
	  		<!-- /.login-logo -->
	  		<div class="login-box-body">
	  			<div class="callout callout-danger" th:if="${errorMsg} != null">
	         		<p>[[${errorMsg}]]</p>
	    		</div>
	    		<div class="callout callout-success" th:if="${successMsg} != null">
	         		<p>[[${successMsg}]]</p>
	    		</div>
	    		<p class="login-box-msg">Techstudio Login</p>
	    		<form action="#" th:action="@{/login}" method="post">
	      			<div class="form-group has-feedback">
	        			<input type="email" name="username" class="form-control" placeholder="Email">
	        			<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	      			</div>
	      			<div class="form-group has-feedback">
	        			<input type="password" name="password" class="form-control" placeholder="Password">
	        			<span class="glyphicon glyphicon-lock form-control-feedback"></span>
	      			</div>
	      			<div class="row">
	        			<div class="col-xs-8">
		          			<div class="checkbox icheck">
		            			<label>
		             				 <input type="checkbox" name="remember-me"> Remember Me
	            				</label>
	          				</div>
	        			</div>
	        			<!-- /.col -->
	        			<div class="col-xs-4">
	          				<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
	        			</div>
	        			<!-- /.col -->
	      			</div>
	    		</form>
	
	    		<div class="social-auth-links text-center">
	      			<p>- OR -</p>
	      			<a href="https://open.weixin.qq.com/connect/qrconnect?appid=wxda549e2cac09b6e6&redirect_uri=https%3A%2F%2Fwilas.techstudio.mobi%2Fam%2FsocialLogin%2Fwechat%2Fcallback.wilas&response_type=code&scope=snsapi_login&state=3d6be0a4035d839573b04816624a415e#wechat_redirect" class="btn btn-block btn-social btn-wechat btn-flat"><i class="fa fa-weixin"></i> Sign in using WeChat</a>
	      			<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
	      			<a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
	    		</div>
	    		<!-- /.social-auth-links -->
	
	    		<a href="forgot-password.html" th:href="@{/begin_reset_password}" class="text-center">I forgot my password</a><br>
	    		<a href="sign-up.html" th:href="@{/sign-up}" class="text-center">Register a new membership</a>
	
	  		</div>
	  		<!-- /.login-box-body -->
	  		<div th:replace="fragments/template :: form-footer"></div>
		</div>
		<!-- /.login-box -->
	
		<!-- jQuery 2.2.3 -->
		<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
		<!-- Bootstrap 3.3.6 -->
		<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
		<!-- iCheck -->
		<script th:src="@{/plugins/iCheck/icheck.min.js}"></script>
		<script>
			$(function () {
		    	$('input').iCheck({
		      		checkboxClass: 'icheckbox_square-blue',
		      		radioClass: 'iradio_square-blue',
		      		increaseArea: '20%' // optional
		    	});
		  	});
		</script>
	</body>
</html>
