<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/public :: meta('Membership Registration')"></head>
<body class="public-page">
<div class="wrapper">
    <div class="container">
        <!--/*@thymesVar id="header" type="java.lang.String"*/-->
        <!--/*@thymesVar id="contact" type="com.techstudio.htns.domain.Contact"*/-->
        <!--/*@thymesVar id="allMembership" type="java.util.List<com.techstudio.htns.domain.RegistrationTypeExtension>"*/-->
        <!--/*@thymesVar id="familyMembers" type="java.util.List<com.techstudio.htns.domain.FamilyMemberExtension>"*/-->
        <!--/*@thymesVar id="familyMember" type="com.techstudio.htns.domain.FamilyMemberExtension"*/-->
        <section th:replace="fragments/public :: content-header(${header})"></section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">MEMBERSHIP - MAIN MEMBER</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>
                            <red>*</red>
                            Membership Type :
                        </label>
                        <form action="#" method="post" th:action="@{/public/main/update}">
                            <input type="hidden" th:name="main.contactId" th:value="${contact.getContactId()}">
                            <select class="form-control select2 select2-hidden-accessible" th:name="main.membershipType"> <!-- Things to Change -->
                                <option disabled selected value=""> -- select an option --</option>
                                <option th:each="item : ${allMembership}" th:value="${item.getId()}" th:text="${item.getName()}">Wireframe</option>
                            </select>
                        </form>
                    </div>
                    <table class="table table-bordered clickable">
                        <thead>
                        <tr>
                            <th>NRIC</th>
                            <th>Name</th>
                            <th>Membership Type</th>
                            <th>Selected Sub Clubs</th>
                            <th>Expiry Date</th>
                            <th>Payment Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${contact.getContactExtension().getNric()}">{{nric}}</td>
                            <td th:text="${contact.getContactExtension().getFullName()}">{{name}}</td>
                            <td th:text="${contact.getContactExtension().getMembership()} ? ${contact.getContactExtension().getMembership().getMembershipExtension().getName()} : ''">{{membershipType}}</td>
                            <td th:text="${''}">{{selectedSubClub}}</td>
                            <td th:text="${contact.getContactExtension().getExpiredOn()} ? ${#dates.format(contact.getContactExtension().getExpiredOn(), 'dd-MM-yyyy')} : ''">{{expiryDate}}</td>
                            <td th:text="${'Pending'}">{{paymentStatus}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">FAMILY & NOMINEE MEMBERS</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>
                            Added Family & Nominee Members :
                        </label>
                        <table class="table table-bordered clickable">
                            <thead>
                            <tr>
                                <th>NRIC</th>
                                <th>Name</th>
                                <th>Membership</th>
                                <th>Expiry Date</th>
                                <th>Payment Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="familyMember : ${familyMembers}">
                                <td th:text="${familyMember.getNric()}">{{nric}}</td>
                                <td th:text="${familyMember.getName()}">{{name}}</td>
                                <td th:text="${'Family Membership'}">{{membership}}</td>
                                <td th:text="${familyMember.getExpiredOn()} ? ${#dates.format(familyMember.getExpiredOn(), 'dd-MM-yyyy')} : ''">{{expiryDate}}</td>
                                <td th:text="${'Pending'}">{{paymentStatus}}</td>
                                <td th:text="${'Remove'}">Delete</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label>
                            Selected Sub Club (Family & Nominee Members) :
                        </label>
                        <table class="table table-bordered clickable">
                            <thead>
                            <tr>
                                <th>NRIC</th>
                                <th>Name</th>
                                <th>Sub Club Membership</th>
                                <th>Expiry Date</th>
                                <th>Payment Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr th:each="familyMember : ${familyMembers}">-->
                                <!--<td th:text="${familyMember.getNric()}">{{nric}}</td>-->
                                <!--<td th:text="${familyMember.getName()}">{{name}}</td>-->
                                <!--<td th:text="${''}">{{subClubMembership}}</td>-->
                                <!--<td th:text="${''}">{{expiryDate}}</td>-->
                                <!--<td th:text="${''}">{{paymentStatus}}</td>-->
                                <!--<td th:text="${''}">Delete</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-default btn-row" data-toggle="modal" data-target="#familyModal">
                        <i class="fa fa-plus-square"></i>Add family member
                    </button>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">SUPPORTING DOCUMENTS</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>
                            <red>*</red>
                            Please select a member :
                        </label>
                        <select class="form-control select2 select2-hidden-accessible">
                            <!--/*@thymesVar id="allNationality" type="java.util.List<com.techstudio.htns.domain.MaritalStatus>"*/-->
                            <option>Wireframe</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>
                            <red>*</red>
                            Upload Document :
                        </label>
                        <select class="form-control select2 select2-hidden-accessible">
                            <!--/*@thymesVar id="allNationality" type="java.util.List<com.techstudio.htns.domain.MaritalStatus>"*/-->
                            <option>Wireframe</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <table class="table table-bordered clickable">
                            <thead>
                            <tr>
                                <th>NRIC</th>
                                <th>Type</th>
                                <th>File Name</th>
                                <th>Approval Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${''}">{{nric}}</td>
                                <td th:text="${''}">{{type}}</td>
                                <td th:text="${''}">{{fileName}}</td>
                                <td th:text="${''}">{{approvalStatus}}</td>
                                <td th:text="${''}">{{action}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </section>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="familyModal" tabindex="-1" role="dialog" aria-labelledby="familyModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="###" method="post" th:action="@{/public/family/create}" th:object="${newFamilyMember}" id="familyMemberForm">
                    <input type="hidden" class="form-control" th:id="${'familyMemberExtension.contact'}" th:name="${'familyMemberExtension.contact'}" th:value="${contact.getContactId()}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="familyModalLabel">Add family member</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Name
                                    </label>
                                    <input type="text" class="form-control" th:field="*{familyMemberExtension.name}" required data-allcap>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        NRIC/Birth Cert No.
                                    </label>
                                    <input type="text" class="form-control" th:field="*{familyMemberExtension.nric}" required data-inputmask="'mask': 'a9999999a'" data-mask>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Race
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{familyMemberExtension.race}" required>
                                        <option th:each="item : ${allRace}" th:value="${item.getId()}" th:text="${item.getName()}">Wireframe</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Mobile</label>
                                    <input type="text" class="form-control" th:field="*{familyMemberExtension.mobile}" required data-inputmask="'mask': '(65) 9999 9999'" data-mask>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Membership Type
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:name="family.MembershipType" required>
                                        <option th:each="item : ${allFamilyMembershipType}" th:value="${item.getId()}" th:text="${item.getName()}">Wireframe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Relationship
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{familyMemberExtension.relationship}">
                                        <option value="Spouse">Spouse</option>
                                        <option value="Parents">Parent</option>
                                        <option value="Child">Child</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Gender
                                    </label>
                                    <div class="radio row">
                                        <div class="col-sm-6">
                                            <label class="radio-inline">
                                                <input type="radio" th:field="*{familyMemberExtension.genderCode}" value="0"> Male
                                            </label>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="radio-inline">
                                                <input type="radio" th:field="*{familyMemberExtension.genderCode}" value="1"> Female
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Date Of Birth (DD-MM-YYYY)</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right datepicker" th:field="*{familyMemberExtension.birthday}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Email</label>
                                    <input type="email" class="form-control" th:field="*{familyMemberExtension.email}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add member</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/public :: footer"></div>
</div>
<div th:include="fragments/public :: javascript" th:remove="tag"></div>
<script>
    function pad(str, max) {
        str = str.toString();
        return str.length < max ? pad("0" + str, max) : str;
    }

$(document).ready(function () {
    $(":input").inputmask();
    $('textarea[data-allcap], input[data-allcap]').on('keyup', function () {
        $(this).val(function () {
            return this.value.toUpperCase();
        });
    });

    $('[data-toggle="tooltip"]').tooltip();
    $("[data-mask]").inputmask();

    $('.datepicker').datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true
    });

    var date = new Date();
    $('input[name=registrationDate]').datepicker("setDate", date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear());


    $('#member-reg-form').on('submit', function () {
        var serializeString = $(this).serialize();
        alert(serializeString);
    });

    $('select[name="main.membershipType"]').on('change', function(){
//        alert($(this).val());
        $(this).parents('form').submit();
    });

});
</script>
</body>
</html>