<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/public :: meta('Membership Registration')"></head>
<body class="public-page">
<div class="wrapper">
    <div class="container">
        <!--/*@thymesVar id="header" type="java.lang.String"*/-->
        <!--/*@thymesVar id="contact" type="com.techstudio.htns.domain.Contact"*/-->
        <section th:replace="fragments/public :: content-header(${header})"></section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-default">
                <div class="box-body htns-login-box">
                    <div class="row htns-login-logo">
                        <div class="col-md-12 text-center">
                            <img th:src="@{/dist/img/hometeam-logo.png}" alt="Responsive image"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="htns-login-container">
                                <!--/*@thymesVar id="success" type="java.lang.String"*/-->
                                <div class="callout callout-success" th:if="${success} != null">
                                    <p>[[${success}]]</p>
                                </div>
                                <!--/*@thymesVar id="failure" type="java.lang.String"*/-->
                                <div class="callout callout-danger" th:if="${failure} != null">
                                    <p>[[${failure}]]</p>
                                </div>
                                <h1>Reset Password</h1>
                                <form action="#" th:action="@{/public/reset-password}" method="post">
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" placeholder="NRIC" name="nric" required>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control datepicker" placeholder="Date of Birth" name="dob" required>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="radio" name="resetOption" value="canNumber" required>
                                            </span>
                                            <input type="text" class="form-control" placeholder="CAN Number" name="canNumber">
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="radio" name="resetOption" value="membershipExpiry">
                                            </span>
                                            <input type="text" class="form-control datepicker" placeholder="Membership Expiry" name="membershipExpiry">
                                        </div>
                                    </div>
                                    <p class="text-center">-</p>
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" placeholder="Preferred email address" name="email" required>
                                        <span class="help-block">This will override your current email address in our database.</span>
                                    </div>
                                    <div class="row">
                                        <!-- /.col -->
                                        <div class="col-xs-12">
                                            <button type="submit" class="btn btn-primary btn-block btn-flat">
                                                Reset Password
                                            </button>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                </form>
                                <a th:href="@{/public/login}" class="text-center" style="display: block;margin-top: 8px;">Go back</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="fragments/public :: footer"></div>
</div>
<div th:include="fragments/public :: javascript" th:remove="tag"></div>
<script>
    function pad(str, max) {
        str = str.toString();
        return str.length < max ? pad("0" + str, max) : str;
    }

    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true
        });

        $("input[name=resetOption]").change(function(){
            var resetOption = $("input[name=resetOption]:checked").val();
            if (resetOption == "canNumber") {
                $("input[name=membershipExpiry]").attr("disabled","disabled");
                $("input[name=membershipExpiry]").removeAttr("required","required");
                $("input[name=canNumber]").attr("required","required");
                $("input[name=canNumber]").removeAttr("disabled","disabled");
            } else if (resetOption == "membershipExpiry") {
                $("input[name=canNumber]").attr("disabled","disabled");
                $("input[name=canNumber]").removeAttr("required","required");
                $("input[name=membershipExpiry]").attr("required","required");
                $("input[name=membershipExpiry]").removeAttr("disabled","disabled");
            }
        });
    });
</script>
</body>
</html>