<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="meta(title)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HomeTeam NS | [[${title}]]</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datepicker/datepicker3.css}">
    <link rel="stylesheet" th:href="@{/plugins/fileinput/css/fileinput.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/datatables/dataTables.bootstrap.css}">
    <link rel="stylesheet" th:href="@{/dist/css/skins/skin-htns.css}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="public-page">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header htns-content-header" th:fragment="content-header(header)">
            <h1>
                [[${header}]]
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div class="container" th:fragment="footer">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center footer">HomeTeamNS © 2017</div>
            </div>
        </div>
    </div>
</div>
<!-- ./wrapper -->
<div th:fragment="javascript">
    <script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/plugins/fastclick/fastclick.js}"></script>
    <script th:src="@{/plugins/datepicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{/plugins/input-mask/jquery.inputmask.js}"></script>
    <script th:src="@{/plugins/fileinput/js/fileinput.min.js}"></script>
    <script th:src="@{/plugins/nric.checker/nric-checker.js}"></script>
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/plugins/handlebars/handlebars.js}"></script>
    <script th:src="@{/dist/js/app.min.js}"></script>
</div>
</body>
</html>