<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/template :: meta('Public')"></head>
	<body class="public-page">
		<!-- Site wrapper -->
		<div class="wrapper">
		    <!-- Content Wrapper. Contains page content -->
		    <div class="container">
		        <!-- Content Header (Page header) -->
		        <section class="content-header htns-content-header" th:fragment="content-header(header)">
		            <h1>
		                [[${header}]]
		            </h1>
		        </section>
		        <!-- Main content -->
		        <section class="content">
		        </section>
		        <!-- /.content -->
		    </div>
		    <!-- /.content-wrapper -->
		    <div class="container" th:fragment="footer">
		        <div class="row">
		            <div class="col-sm-12">
		                <div class="text-center footer">Spring Boot Demo © 2017</div>
		            </div>
		        </div>
		    </div>
		</div>
		<div th:include="fragments/template :: javascript" th:remove="tag"></div>
	</body>
</html>