<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template :: meta('Members')"></head>
<body class="hold-transition skin-red-light sidebar-mini fixed">
<div class="wrapper">
    <div th:replace="fragments/template :: header"></div>
    <div th:replace="fragments/template :: sidebar('member')"></div>
    <div class="content-wrapper">
        <!--/*@thymesVar  type="java.lang.String"*/-->
        <div th:replace="fragments/template :: content-header(${header})"></div>
        <!-- Main content -->
        <section class="content">
            <!--/*@thymesVar id="contact" type="com.techstudio.htns.domain.Contact"*/-->
            <form action="###" method="post" th:action="@{/member/create}" th:object="${contact}" id="member-reg-form">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">PERSONAL DETAILS</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        NRIC / FIN
                                    </label>
                                    <input type="text" class="form-control" th:field="*{contactExtension.nric}" required data-inputmask="'mask': 'a9999999a'" data-mask>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Salutation
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{contactExtension.salutation}" required>
                                        <!--/*@thymesVar  type="java.util.List<Salutation>"*/-->
                                        <option th:each="salutation : ${allSalutation}" th:value="${salutation.getId()}" th:text="${salutation.getName()}">Wireframe</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Full Name (As on NRIC/FIN)
                                    </label>
                                    <input type="text" class="form-control" th:field="*{contactExtension.fullName}" required data-allcap>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Date Of Birth (DD-MM-YYYY)</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right datepicker" required th:field="*{birthday}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Gender
                                    </label>
                                    <div class="radio row">
                                        <div class="col-sm-6">
                                            <label class="radio-inline">
                                                <input type="radio" th:field="*{genderCode}" value="1" required> Male
                                            </label>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="radio-inline">
                                                <input type="radio" th:field="*{genderCode}" value="2"> Female
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Marital Status</label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{contactExtension.maritalStatus}" required>
                                        <!--/*@thymesVar id="allMaritalStatus" type="java.util.List<com.techstudio.htns.domain.MaritalStatus>"*/-->
                                        <option th:each="item : ${allMaritalStatus}" th:value="${item.getId()}" th:text="${item.getName()}">Wireframe</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Email</label>
                                    <input type="email" class="form-control" th:field="*{email}" required>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Hand Phone</label>
                                    <input type="text" class="form-control" th:field="*{mobilePhone}" required data-inputmask="'mask': '(65) 9999 9999'" data-mask>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Nationality
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{contactExtension.nationality}" required>
                                        <!--/*@thymesVar id="allNationality" type="java.util.List<com.techstudio.htns.domain.MaritalStatus>"*/-->
                                        <option th:each="item : ${allNationality}" th:value="${item.getId()}" th:text="${item.getName()}">Wireframe</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Race
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{contactExtension.race}" required>
                                        <!--/*@thymesVar id="allNationality" type="java.util.List<com.techstudio.htns.domain.MaritalStatus>"*/-->
                                        <option th:each="item : ${allRace}" th:value="${item.getId()}" th:text="${item.getName()}">Wireframe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        Home Phone
                                    </label>
                                    <input type="text" class="form-control" th:field="*{telephone1}" data-inputmask="'mask': '(65) 9999 9999'" data-mask>
                                </div>
                                <div class="form-group">
                                    <label>Office Phone</label>
                                    <input type="text" class="form-control" th:field="*{telephone2}" data-inputmask="'mask': '(65) 9999 9999'" data-mask>
                                </div>
                                <div class="form-group">
                                    <label>PA CAN Number</label>
                                    <input type="text" class="form-control" th:field="*{contactExtension.paCanNumber}">
                                </div>
                                <div class="form-group">
                                    <label>Golf Handicap</label>
                                    <input type="text" class="form-control" th:field="*{contactExtension.isHandicap}">
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Action Flag
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{contactExtension.actionFlag}" required>
                                        <!--/*@thymesVar id="allNationality" type="java.util.List<com.techstudio.htns.domain.MaritalStatus>"*/-->
                                        <option th:each="item : ${allActionFlag}" th:value="${item.getId()}" th:text="${item.getName()}">Wireframe</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">ADDRESS FOR COMMUNICATIONS</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Housing Type
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{contactExtension.housingType}" required>
                                        <option disabled selected value=""> -- select an option --</option>
                                        <option th:each="item : ${allHousing}" th:value="${item.getId()}" th:text="${item.getName()}">Wireframe</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        House No. / Block
                                    </label>
                                    <input type="text" class="form-control" th:field="*{address.name}" required data-allcap>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Floor - Unit No.
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">#</span>
                                        <input type="text" class="form-control" th:field="*{address.line1}" required data-inputmask="'mask': '9[9]-99[9][a]'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Building Name</label>
                                    <input type="text" class="form-control" th:field="*{address.line3}" data-allcap>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        Street Name
                                    </label>
                                    <input type="text" class="form-control" th:field="*{address.line2}" data-allcap>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Postal Code
                                    </label>
                                    <input type="text" class="form-control" th:field="*{address.postalCode}" required data-inputmask="'mask': '999999'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">OTHER PARTICULARS</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Economic Status:
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{contactExtension.economicStatusType}">
                                        <option disabled selected value=""> -- select an option --</option>
                                        <option th:each="item : ${allEconomicType}" th:value="${item.getId()}" th:text="${item.getName()}">Wireframe</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Occupation:
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{contactExtension.economicStatus}">
                                        <option disabled selected value=""> -- select an option --</option>
                                        <option th:each="item : ${allEconomic}" th:value="${item.getId()}" th:text="${item.getName()}">Wireframe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Highest Education
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{contactExtension.highestEducation}">
                                        <option disabled selected value=""> -- select an option --</option>
                                        <option th:each="item : ${allEdu}" th:value="${item.getId()}" th:text="${item.getName()}">Wireframe</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Annual Income
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{contactExtension.annualIncome}">
                                        <option disabled selected value=""> -- select an option --</option>
                                        <option th:each="item : ${allIncome}" th:value="${item.getId()}" th:text="${item.getName()}">Wireframe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Car Plate</label>
                                    <input type="text" class="form-control" th:field="*{contactExtension.carPlate}" data-inputmask="'mask': 'a[a][a][9][9][9]9[a]'">
                                </div>
                                <div class="form-group">
                                    <label>Car IU</label>
                                    <input type="text" class="form-control" th:field="*{contactExtension.carIu}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">APPROVAL STATUS</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Approval Status
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{contactExtension.approvalStatus}">
                                        <option disabled selected value=""> -- select an option --</option>
                                        <option value="0">Pending Approval</option>
                                        <option value="1">Approved</option>
                                        <option value="2">Rejected</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Card Type</label>
                                    <input type="text" class="form-control" value="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Active Membership
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{contactExtension.membership}">
                                        <option disabled selected value=""> -- select an option --</option>
                                        <option th:each="item : ${allMembership}" th:value="${item.getId()}" th:text="${item.getMembershipExtension().getName()}">Wireframe</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>
                                        Membership Type
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" disabled>
                                    </select>
                                </div>
                                <!--<div class="form-group">-->
                                <!--<label>-->
                                <!--<red>*</red>-->
                                <!--Membership Type-->
                                <!--</label>-->
                                <!--<select class="form-control select2 select2-hidden-accessible" th:field="*{contactExtension.registration}">-->
                                <!--<option disabled selected value=""> &#45;&#45; select an option &#45;&#45;</option>-->
                                <!--<option th:each="item : ${allRegistration}" th:value="${item.getId()}" th:text="${item.getRegistrationTypeExtension().getName()}">Wireframe</option>-->
                                <!--</select>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Expiry Date (DD-MM-YYYY)</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right datepicker" th:field="*{contactExtension.expiredOn}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Membership Group
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">GIFT & PROMOTIONS</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Gift Issued
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{contactExtension.isGiftIssued}">
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Gift Issue Date</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right datepicker" th:field="*{contactExtension.giftIssuedDate}">
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        Gift Description
                                    </label>
                                    <input type="text" class="form-control" th:field="*{contactExtension.giftDesc}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">COMMUNICATION PREFERENCE</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            <red>*</red>
                                            Preffered communication mode
                                        </label>
                                        <div class="col-sm-9">
                                            <select class="form-control select2 select2-hidden-accessible">
                                                <option value="0">ANY</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            <red>*</red>
                                            Receive promotional VOICE call?
                                        </label>
                                        <div class="col-sm-9">
                                            <label class="radio-inline">
                                                <input type="radio" value="0" th:field="*{doNotPhone}" required> Yes
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" value="1" th:field="*{doNotPhone}"> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            <red>*</red>
                                            Receive promotional messages to your hand phone?
                                        </label>
                                        <div class="col-sm-9">
                                            <label class="radio-inline">
                                                <input type="radio" value="0" th:field="*{doNotFax}" required> Yes
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" value="1" th:field="*{doNotFax}"> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            <red>*</red>
                                            Receive promotional postal mail?
                                        </label>
                                        <div class="col-sm-9">
                                            <label class="radio-inline">
                                                <input type="radio" value="0" th:field="*{doNotPostalMail}" required> Yes
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" value="1" th:field="*{doNotPostalMail}"> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            <red>*</red>
                                            Receive promotional email?
                                        </label>
                                        <div class="col-sm-9">
                                            <label class="radio-inline">
                                                <input type="radio" value="0" th:field="*{doNotEmail}" required> Yes
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" value="1" th:field="*{doNotEmail}"> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">
                                            <red>*</red>
                                            Receive the FRONTLINE Magazine?
                                        </label>
                                        <div class="col-sm-9">
                                            <label class="radio-inline">
                                                <input type="radio" value="0" th:field="*{doNotBulkPostalMail}" required> Yes
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" value="1" th:field="*{doNotBulkPostalMail}"> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">LOYALTY</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Points Accumulated
                                    </label>
                                    <input type="number" class="form-control" th:field="*{contactExtension.loyaltyAccumulation}">
                                </div>
                                <div class="form-group">
                                    <label>Available Points</label>
                                    <input type="number" class="form-control" th:field="*{contactExtension.loyaltyAvailable}">
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Points Redeemed
                                    </label>
                                    <input type="number" class="form-control" th:field="*{contactExtension.loyaltyRedemption}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">EMERGENCY CONTACT</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Name
                                    </label>
                                    <input type="text" class="form-control" th:field="*{emergencyContactExtension.name}" required data-allcap>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Relationship
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{emergencyContactExtension.relationship}" required>
                                        <option value="Spouse">Spouse</option>
                                        <option value="Parents / Parents in law">Parents / Parents in law</option>
                                        <option value="Siblings">Siblings</option>
                                        <option value="Relatives">Relatives</option>
                                        <option value="Friends">Friends</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <red>*</red>
                                        Contact No.
                                    </label>
                                    <input type="text" class="form-control" th:field="*{emergencyContactExtension.contactNumber}" required data-inputmask="'mask': '(65) 9999 9999'" data-mask>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">PREFERENCES</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Performing Arts</label>
                                    <div class="checkbox" th:each="option : ${allPerformingArts}">
                                        <label>
                                            <input type="checkbox" th:value="${option.id}" th:text="${option.name}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Arts & Lifestyle</label>
                                    <div class="checkbox" th:each="option : ${allArtsLifestyle}">
                                        <label>
                                            <input type="checkbox" th:value="${option.id}" th:text="${option.name}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Sports</label>
                                    <div class="checkbox" th:each="option : ${allSports}">
                                        <label>
                                            <input type="checkbox" th:value="${option.id}" th:text="${option.name}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Education & Life Skills</label>
                                    <div class="checkbox" th:each="option : ${allEduLifeskills}">
                                        <label>
                                            <input type="checkbox" th:value="${option.id}" th:text="${option.name}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Passion E-Clubs</label>
                                    <div class="checkbox" th:each="option : ${allPassionEClub}">
                                        <label>
                                            <input type="checkbox" th:value="${option.id}" th:text="${option.name}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Volunteering with PA</label>
                                    <div class="checkbox" th:each="option : ${allVolunteering}">
                                        <label>
                                            <input type="checkbox" th:value="${option.id}" th:text="${option.name}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Education & Lifeskills</label>
                                    <div class="checkbox" th:each="option : ${allEduLifeskills}">
                                        <label>
                                            <input type="checkbox" th:value="${option.id}" th:text="${option.name}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Children's Programmes</label>
                                    <div class="checkbox" th:each="option : ${allChildProg}">
                                        <label>
                                            <input type="checkbox" th:value="${option.id}" th:text="${option.name}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Passion E-Clubs</label>
                                    <div class="checkbox" th:each="option : ${allPassionEClub}">
                                        <label>
                                            <input type="checkbox" th:value="${option.id}" th:text="${option.name}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">NOTES</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Notes
                                    </label>
                                    <textarea type="text" class="form-control" th:field="*{notes}"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Owner
                                    </label>
                                    <select class="form-control select2 select2-hidden-accessible" th:field="*{owner}">
                                        <!--/*@thymesVar  type="java.util.List<Salutation>"*/-->
                                        <option th:each="item : ${allOwner}" th:value="${item.getId()}" th:text="${item.getName()}">Wireframe</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Member</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div th:replace="fragments/template :: footer"></div>
</div>
<div th:include="fragments/template :: javascript" th:remove="tag"></div>
<script th:src="@{/plugins/singpost/temp.api.js}"></script>
<script>
    function pad(str, max) {
        str = str.toString();
        return str.length < max ? pad("0" + str, max) : str;
    }

    $(document).ready(function () {
        $(":input").inputmask();
        $('textarea[data-allcap], input[data-allcap]').on('keyup', function () {
            $(this).val(function () {
                return this.value.toUpperCase();
            });
        });

        $('[data-toggle="tooltip"]').tooltip();
        $("[data-mask]").inputmask();

        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true
        });

        var date = new Date();
        $('input[name=registrationDate]').datepicker("setDate", date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear());


        $('#member-reg-form').on('submit', function () {
//            var serializeString = $(this).serialize();
//            alert(serializeString);
//            $('input[name="contactExtension.nric"]').val(function () {
//                return this.value.toUpperCase();
//            });
        });

        $('select[name="contactExtension.economicStatusType"]').on('change', function(){
            var selected = $(this).val();

            if (selected == "2426C8B3-976C-E311-9401-00155D0AB904") {
                $('select[name="contactExtension.annualIncome"]').val('C763587E-926C-E311-9401-00155D0AB904');
                $('select[name="contactExtension.annualIncome"]').attr('disabled', 'disabled');
            } else {
                $('select[name="contactExtension.annualIncome"]').removeAttr('disabled');
            }
        });

        $('input[name="doNotPhone"][value="1"]').prop('checked', true);
        $('input[name="doNotFax"][value="1"]').prop('checked', true);
        $('input[name="doNotPostalMail"][value="1"]').prop('checked', true);
        $('input[name="doNotEmail"][value="1"]').prop('checked', true);
        $('input[name="doNotBulkPostalMail"][value="0"]').prop('checked', true);



        // @ OLD CODE : INCASE OF NEEDING IT, TO BE REMOVED ON PRODUCTION
        //            $('input[name=postal_code]').on('change', function () {
        //                $(this).singpostAPI({
        //                    line1: 'input[name=addressLine1]',
        //                    line2: 'input[name=addressLine2]',
        //                });
        //            });
    });
</script>
</body>
</html>